*{
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Raleway;
}
header {
    border:1px solid black;
    min-height:100px;
    padding:15px
}
header div {
    border:1px solid black;
}
nav {
    display: flex;
    flex-direction: row;
    height: 60px;
    border:1px solid black;
}
nav div {
    border:1px solid black;
}

#logo {
    width:70%;
    padding-top: 5px;
}
.logo-img {
    height:45px;
}
#menu {    
    width:20%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

#menu li {
    border:1px solid black;
    width: 50%;
    text-align: center;
    padding-top: 5%;
}
#sign-up {
    width:10%;
    text-align: center;
    padding-top: 15px;
}

main {
    border:1px solid black;
    min-height:100px;
    padding:15px
}
#accomodation {
    display: flex;
    flex-direction: row;
}
#accomodation-in-marseille {
    width:68%;
    margin:10px;
    background-color: #f2f2f2;
    border-radius: 15px;
}
#accomodation-title {
    min-height: 40px;
    padding-left: 35px;
    padding-top: 25px;
}
#accomodation-list {    
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px 10px 30px;
}
.accomodation-box {
    background-color: white;
    width: 30%;
    height: 220px;
    margin-right: 23px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 5px;
}
.acc-img {
    height:140px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-bottom: 5px;
}
.acc-icon-blue {
    color: #0065FC;
}
.acc-icon-grey {
    color: #F2F2F2;
}
#show-more {
    min-height: 40px;
}
#most-popular {
    width:30%;
    margin:10px;
    background-color: #f2f2f2;
    border-radius: 15px;
}
#most-popular-title {
    min-height: 40px;
    padding-top: 25px;
    padding-left: 35px;
}
#most-popular-list {
    min-height: 550px;
    padding: 10px 10px 10px 30px;
}
.most-popular-box {
    background-color: white;
    width: 93%;
    height: 170px;
    margin-right: 23px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}
.popular-img {
    height:170px;
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-right: 15px;
}

#description li {
    list-style-type: none;
    padding-bottom: 40px;
}



#activities {
    border: 1px solid black;
}
#activities-title {
    border: 1px solid black;
}
#activities-list {
    border: 1px solid black;
    min-height: 300px;
    display: flex;
    flex-direction: row;
}
.activities-box {
    border: 1px solid black;
    width: 25%;
    height: 350px;
    margin: 15px;
}
#show-more {
    min-height: 35px;
    padding-left: 25px;
    padding-top: 25px;
}



#about {
    display: flex;
    flex-direction: row;
}
#about-links {
    border: 1px solid black;
    width:30%;
    margin:10px;
}
#accomodations-links {
    border: 1px solid black;
    width:30%;
    margin:10px;
}
#assistance-links {
    border: 1px solid black;
    width:30%;
    margin:10px;
}










#activites-in-marseille {
    border: 1px solid black;
}
#activity-images {
    border: 1px solid black;
    min-height: 200px;
}
section {
    border: 1px solid black;
    min-height:100px;
}
footer {
    border:1px solid black;
    min-height:100px;
    padding:15px;
}