*{
    margin: 0;
    padding: 0;

}
header {
    border:1px solid black;
    min-height:100px;
    padding:15px
}
main {
    border:1px solid black;
    min-height:100px;
    padding:15px
}
footer {
    border:1px solid black;
    min-height:100px
}
section{
    border:1px solid black;
    min-height:200px
}
